@font-face {
  font-weight: 300;
  font-family: 'Futura PT';
  font-style: normal;
  src:
    url('fonts/FuturaPT-Light.eot') format('eot'),
    url('fonts/FuturaPT-Light.ttf') format('truetype'),
    url('fonts/FuturaPT-Light.woff') format('woff'),
    url('fonts/FuturaPT-Light.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Futura PT';
  font-style: normal;
  src:
    url('fonts/FuturaPT-Book.eot') format('eot'),
    url('fonts/FuturaPT-Book.ttf') format('truetype'),
    url('fonts/FuturaPT-Book.woff') format('woff'),
    url('fonts/FuturaPT-Book.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Futura PT';
  font-style: normal;
  src:
    url('fonts/FuturaPT-Medium.eot') format('eot'),
    url('fonts/FuturaPT-Medium.ttf') format('truetype'),
    url('fonts/FuturaPT-Medium.woff') format('woff'),
    url('fonts/FuturaPT-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Gotham';
  font-style: normal;
  src:
    url('fonts/Gotham-Book.eot') format('eot'),
    url('fonts/Gotham-Book.ttf') format('truetype'),
    url('fonts/Gotham-Book.woff') format('woff'),
    url('fonts/Gotham-Book.woff2') format('woff2');
}
