// Colors
$primary: #121730;
$primary-darker: #061138;
$primary-lighter: #16213c;
$secondary: #fff;
$tertiary: #b59152;
$logo-color: #d3b977;

$gray-light: #d0d1d6;
$gray-darker: #7f8a99;
$gray-social: #898b98;

$bluerhino-color: #3782e7;

// breakpoints
$sm: 320px;
$md: 420px;
$tb: 790px;
$lg: 1366px;
$xl: 1921px;
$xxl: 2441px;
